// Primary
$color-white: #ffffff;

$color-navy: #21366C;
$color-navy--light: #314B84;
$color-navy--dark: #192854;

$color-sky-blue: #00B6F0;
$color-sky-blue--light: #3DC5EC;
$color-sky-blue--dark: #5894CE;

$color-gray-chateau: #A3A9AC;
$color-gray-chateau--light: #CBCFD1;
$color-gray-chateau--dark: #838688;

// Secondary
$color-royal-blue: #2E7DE1;
$color-royal-blue--light: #5894CE;
$color-royal-blue--dark: #1B64A5;

$color-sushi: #A2B842;
$color-sushi--light: #B9C353;
$color-sushi--dark: #8A9939;

$color-corn: #E2CC00;
$color-corn--light: #F1DF60;
$color-corn--dark: #B09D32;
$color-corn: #E2CC00;

$color-flush-orange: #FF8300;
$color-flush-orange--light: #F39642;
$color-flush-orange--dark: #C66528;

$color-cold-purple: #B095DA;
$color-cold-purple--light: #C3B0D5;
$color-cold-purple--dark: #836EAF;

$color-puerto-rico: #3FBDA9;
$color-puerto-rico--light: #76CABC;
$color-puerto-rico--dark: #319682;

$color-sepia-skin: #99593D;
$color-sepia-skin--light: #AF6C54;
$color-sepia-skin--dark: #773E2A;

$color-roof-terracotta: #A41E22;
$color-roof-terracotta--light: #C12834;
$color-roof-terracotta--dark: #76141B;

$color-abbey: #545759;
$color-abbey--light: #838688;
$color-abbey--dark: #353737;
