@import './color';
@import './font';

@mixin transition($thing) {
  transition: #{$thing} 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@mixin shadow() {
  @include transition(box-shadow);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);

  &:hover {
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.23);
  }
}

html {
  font-size: 18px;

  @media only screen and (min-width : 600px) {
    font-size: 24px;
  }

  @media only screen and (min-width : 900px) {
    font-size: 36px;
  }

  @media only screen and (min-width : 1200px) {
    font-size: 40px;
  }
}

body {
  @include font-ssp();

  background-color: $color-white;
  color: $color-navy;
  box-sizing: border-box;
  padding: 0 30px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    border-top: 1rem solid $color-navy;
  }
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.25rem;
}

.select, .button {
  @include font-ssp();

  font-size: 1rem;
}

.select {

}

.button {
  @include shadow();

  background-color: $color-sky-blue;
  border: none;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: $color-white;
  padding: 0 1.5em;
  cursor: pointer;
  line-height: 2em;
  text-transform: uppercase;

  &:hover {
    background-color: $color-sky-blue--light;
  }
}
