@import '../theme/color';
@import '../theme/theme';

//$width: 500px;
$axis-height: 1.8rem;

.container {
  @include transition(opacity);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;

  &.hidden {
    opacity: 0;
  }
}

.chart {
  &Area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 85%;
    flex-grow: 1;
  }

  &XAxis, &YAxis {
    font-size: $axis-height;

    &Label {
      display: inline-block;
      line-height: $axis-height;
      background-color: white;
      padding: 0 0.5em;
    }
  }

  &XAxis {
    height: $axis-height;
    width: 100%;
    padding-left: $axis-height;
    text-align: center;

    &:before {
      content: '';
      display: block;
      border-bottom: 1px solid black;
      margin-top: $axis-height / 2;
      margin-bottom: -$axis-height / 2;
    }
  }

  &YAxis {
    width: $axis-height;
    position: relative;

    &Label {
      transform: rotate(-90deg) translateX(-50%);
      transform-origin: 0 0;
      position: absolute;
      top: 50%;
    }

    &:before {
      content: '';
      display: block;
      border-right: 1px solid black;
      width: $axis-height / 2;
      height: 100%;
    }
  }
}

.bar {
  transition:
    height 0.3s cubic-bezier(0, 0, 0.2, 1),
    background-color 0.5s cubic-bezier(0, 0, 0.2, 1),
    border-right-color 0.5s cubic-bezier(0, 0, 0.2, 1);

  font-size: 20px;
  background-color: $color-royal-blue;
  text-align: center;
  flex-grow: 1;
  position: relative;
  border-right: 1px solid $color-royal-blue--light;

  &:nth-child(5n + 10) &Label {
    display: block;
  }

  &:hover {
    background-color: $color-navy;
  }

  &:hover &Label {
    background-color: $color-navy;
    display: block;
    z-index: 2;
    padding: 0 100%;
  }

  &Highlight {
    background-color: $color-roof-terracotta;
    border-right-color: $color-roof-terracotta--light;
  }

  &Label {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
  }
}
