.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}

.candleGraph {
  width: 65%;
}

.pieGraph {
  width: 35%;
}

.startBar {
  text-align: center;
  width: 100%;
  font-size: 5rem;
}