@import '../theme/font';

.inputCell {
  text-align: center;
}

.inputLabel {
  @include font-ssp(24px);

  display: block;
  margin: 10px 0;
}

.inputField {
  @include font-ssp(24px);

  width: 90%;
}

.submitCell {
  text-align: center;
}

.submitButton {
  @include font-ssp(24px);

  margin: 60px 0 0 0;
  width: 90%;

  @media only screen and (min-width : 600px) {
    width: auto;
  }
}
