@import '../theme/font';

.inputCell {
  text-align: center;
}

.inputLabel {
  @include font-ssp();

  display: block;
  margin: .5rem 0 .2rem 0;
}

.inputField {
  @include font-ssp();

  width: 90%;
}

.submitCell {
  text-align: center;
}

.submitButton {
  @include font-ssp();

  margin: 2rem 0 0 0;
  width: 90%;

  @media only screen and (min-width : 600px) {
    width: auto;
  }
}
