@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700);
@import './unfinished/base';
@import './theme/color';
@import './theme/font';

html, body {
  height: 100%;
}

:global {
  #app {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}
